In [2]:
import pandas as pd 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [3]:
#loading dataset to pandas dataframe
df = pd.read_csv("fraudTrain.csv")
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [4]:
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0

In [5]:
# Convert 'trans_date_trans_time' column to datetime object
df['trans_date_trans_time'] = pd.to_datetime(df['trans_date_trans_time'])
df

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2019-01-01 00:00:18,2703186189652095,"fraud_Rippin, Kub and Mann",misc_net,4.97,Jennifer,Banks,F,561 Perry Cove,...,36.0788,-81.1781,3495,"Psychologist, counselling",1988-03-09,0b242abb623afc578575680df30655b9,1325376018,36.011293,-82.048315,0
1,1,2019-01-01 00:00:44,630423337322,"fraud_Heller, Gutmann and Zieme",grocery_pos,107.23,Stephanie,Gill,F,43039 Riley Greens Suite 393,...,48.8878,-118.2105,149,Special educational needs teacher,1978-06-21,1f76529f8574734946361c461b024d99,1325376044,49.159047,-118.186462,0
2,2,2019-01-01 00:00:51,38859492057661,fraud_Lind-Buckridge,entertainment,220.11,Edward,Sanchez,M,594 White Dale Suite 530,...,42.1808,-112.2620,4154,Nature conservation officer,1962-01-19,a1a22d70485983eac12b5b88dad1cf95,1325376051,43.150704,-112.154481,0
3,3,2019-01-01 00:01:16,3534093764340240,"fraud_Kutch, Hermiston and Farrell",gas_transport,45.00,Jeremy,White,M,9443 Cynthia Court Apt. 038,...,46.2306,-112.1138,1939,Patent attorney,1967-01-12,6b849c168bdad6f867558c3793159a81,1325376076,47.034331,-112.561071,0
4,4,2019-01-01 00:03:06,375534208663984,fraud_Keeling-Crist,misc_pos,41.96,Tyler,Garcia,M,408 Bradley Rest,...,38.4207,-79.4629,99,Dance movement psychotherapist,1986-03-28,a41d7549acf90789359a9aa5346dcb46,1325376186,38.674999,-78.632459,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,fraud_Reichel Inc,entertainment,15.56,Erik,Patterson,M,162 Jessica Row Apt. 072,...,37.7175,-112.4777,258,Geoscientist,1961-11-24,440b587732da4dc1a6395aba5fb41669,1371816728,36.841266,-111.690765,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,fraud_Abernathy and Sons,food_dining,51.70,Jeffrey,White,M,8617 Holmes Terrace Suite 651,...,39.2667,-77.5101,100,"Production assistant, television",1979-12-11,278000d2e0d2277d1de2f890067dcc0a,1371816739,38.906881,-78.246528,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,fraud_Stiedemann Ltd,food_dining,105.93,Christopher,Castaneda,M,1632 Cohen Drive Suite 639,...,32.9396,-105.8189,899,Naval architect,1967-08-30,483f52fe67fabef353d552c1e662974c,1371816752,33.619513,-105.130529,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,"fraud_Reinger, Weissnat and Strosin",food_dining,74.90,Joseph,Murray,M,42933 Ryan Underpass,...,43.3526,-102.5411,1126,Volunteer coordinator,1980-08-18,d667cdcbadaaed3da3f4020e83591c83,1371816816,42.788940,-103.241160,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,"fraud_Langosh, Wintheiser and Hyatt",food_dining,4.30,Jeffrey,Smith,M,135 Joseph Mountains,...,45.8433,-113.8748,218,"Therapist, horticultural",1995-08-16,8f7c8e4ab7f25875d753b422917c98c9,1371816817,46.565983,-114.186110,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1296675 entries, 0 to 1296674
Data columns (total 23 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   Unnamed: 0             1296675 non-null  int64
 1   trans_date_trans_time  1296675 non-null  datetime64[ns]
 2   cc_num                 1296675 non-null  int64
 3   merchant               1296675 non-null  object
 4   category               1296675 non-null  object
 5   amt                    1296675 non-null  float64
 6   first                  1296675 non-null  object
 7   last                   1296675 non-null  object
 8   gender                 1296675 non-null  object
 9   street                 1296675 non-null  object
 10  city                   1296675 non-null  object
 11  state                  1296675 non-null  object
 12  zip                    1296675 non-null  int64
 13  lat                    1296675 non-null  float64
 14  long                   1296675 non-null  float64
 15  city_pop               1296675 non-null  int64
 16  job                    1296675 non-null  object
 17  dob                    1296675 non-null  object
 18  trans_num              1296675 non-null  object
 19  unix_time              1296675 non-null  int64
 20  merch_lat              1296675 non-null  float64
 21  merch_long             1296675 non-null  float64
 22  is_fraud               1296675 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(6), object(11)
memory usage: 227.5+ MB

In [7]:
df = pd.get_dummies(df, columns=['gender', 'merchant', 'category'], prefix=['gender', 'merchant', 'category'])
df

,Unnamed: 0,trans_date_trans_time,cc_num,amt,first,last,street,city,state,zip,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,0,2019-01-01 00:00:18,2703186189652095,4.97,Jennifer,Banks,561 Perry Cove,Moravian Falls,NC,28654,...,0,0,0,0,1,0,0,0,0,0
1,1,2019-01-01 00:00:44,630423337322,107.23,Stephanie,Gill,43039 Riley Greens Suite 393,Orient,WA,99160,...,1,0,0,0,0,0,0,0,0,0
2,2,2019-01-01 00:00:51,38859492057661,220.11,Edward,Sanchez,594 White Dale Suite 530,Malad City,ID,83252,...,0,0,0,0,0,0,0,0,0,0
3,3,2019-01-01 00:01:16,3534093764340240,45.00,Jeremy,White,9443 Cynthia Court Apt. 038,Boulder,MT,59632,...,0,0,0,0,0,0,0,0,0,0
4,4,2019-01-01 00:03:06,375534208663984,41.96,Tyler,Garcia,408 Bradley Rest,Doe Hill,VA,24433,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,1296670,2020-06-21 12:12:08,30263540414123,15.56,Erik,Patterson,162 Jessica Row Apt. 072,Hatch,UT,84735,...,0,0,0,0,0,0,0,0,0,0
1296671,1296671,2020-06-21 12:12:19,6011149206456997,51.70,Jeffrey,White,8617 Holmes Terrace Suite 651,Tuscarora,MD,21790,...,0,0,0,0,0,0,0,0,0,0
1296672,1296672,2020-06-21 12:12:32,3514865930894695,105.93,Christopher,Castaneda,1632 Cohen Drive Suite 639,High Rolls Mountain Park,NM,88325,...,0,0,0,0,0,0,0,0,0,0
1296673,1296673,2020-06-21 12:13:36,2720012583106919,74.90,Joseph,Murray,42933 Ryan Underpass,Manderson,SD,57756,...,0,0,0,0,0,0,0,0,0,0
1296674,1296674,2020-06-21 12:13:37,4292902571056973207,4.30,Jeffrey,Smith,135 Joseph Mountains,Sula,MT,59871,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df = df.drop(['Unnamed: 0', 'first', 'last', 'street', 'city', 'state', 'zip', 'job', 'dob', 'trans_num', 'unix_time','trans_date_trans_time'], axis=1)
df

,cc_num,amt,lat,long,city_pop,merch_lat,merch_long,is_fraud,gender_F,gender_M,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2703186189652095,4.97,36.0788,-81.1781,3495,36.011293,-82.048315,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,630423337322,107.23,48.8878,-118.2105,149,49.159047,-118.186462,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,38859492057661,220.11,42.1808,-112.2620,4154,43.150704,-112.154481,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3534093764340240,45.00,46.2306,-112.1138,1939,47.034331,-112.561071,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,375534208663984,41.96,38.4207,-79.4629,99,38.674999,-78.632459,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,15.56,37.7175,-112.4777,258,36.841266,-111.690765,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296671,6011149206456997,51.70,39.2667,-77.5101,100,38.906881,-78.246528,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296672,3514865930894695,105.93,32.9396,-105.8189,899,33.619513,-105.130529,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296673,2720012583106919,74.90,43.3526,-102.5411,1126,42.788940,-103.241160,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296674,4292902571056973207,4.30,45.8433,-113.8748,218,46.565983,-114.186110,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [9]:
scaler = StandardScaler()
numeric_columns = ['amt', 'lat', 'long', 'city_pop', 'merch_lat', 'merch_long']
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
df

,cc_num,amt,lat,long,city_pop,merch_lat,merch_long,is_fraud,gender_F,gender_M,...,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2703186189652095,-0.407826,-0.484420,0.657620,-0.282589,-0.494354,0.593864,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,630423337322,0.230039,2.039120,-2.033870,-0.293670,2.078699,-2.030341,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,38859492057661,0.934149,0.717754,-1.601537,-0.280406,0.902849,-1.592323,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,3534093764340240,-0.158132,1.515617,-1.590766,-0.287742,1.662886,-1.621848,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,375534208663984,-0.177094,-0.023035,0.782279,-0.293835,0.026941,0.841909,0,0,1,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1296670,30263540414123,-0.341769,-0.161575,-1.617214,-0.293309,-0.331926,-1.558650,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296671,6011149206456997,-0.116339,0.143638,0.924207,-0.293832,0.072321,0.869934,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296672,3514865930894695,0.221930,-1.102883,-1.133257,-0.291186,-0.962433,-1.082272,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296673,2720012583106919,0.028375,0.948613,-0.895029,-0.290434,0.832051,-0.945074,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1296674,4292902571056973207,-0.412005,1.439314,-1.718754,-0.293441,1.571229,-1.739852,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df.isnull().sum()

cc_num                    0
amt                       0
lat                       0
long                      0
city_pop                  0
                         ..
category_misc_pos         0
category_personal_care    0
category_shopping_net     0
category_shopping_pos     0
category_travel           0
Length: 717, dtype: int64

In [11]:
# Define Features (X) and Target Variable (y)
X = df.drop('is_fraud', axis=1)  # Features (all columns except 'is_fraud')
y = df['is_fraud']  # Target Variable ('is_fraud' column)

In [14]:
X_resized = X.iloc[:100000,:]
Y_resized = y.iloc[:100000]

In [17]:
Y_resized.shape

(100000,)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_resized, Y_resized, test_size=0.2)

In [19]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(80000, 716)
(20000, 716)
(80000,)
(20000,)

In [20]:
model = LogisticRegression()
model.fit(X_train,y_train)

C:\Users\Alveera Fatima\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=2):
ABNORMAL_TERMINATION_IN_LNSRCH.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [21]:
model.score(X_test,y_test)

0.98945